Opponent Name | Games Played | Win/Loss | Wins | Losses | Draws | Longest | Avg Length
--------------------------------------------------------------------------
if_else       | 1000         | 57.569   | 483  | 356    | 161   | 265     | 79.372    
sl_conv       | 1000         | 50.202   | 372  | 369    | 259   | 293     | 58.178    
