Opponent Name | Games Played | Win/Loss | Wins | Losses | Draws | Longest | Avg Length
--------------------------------------------------------------------------
sl_basic      | 1000         | 49.798   | 369  | 372    | 259   | 293     | 58.178    
if_else       | 1000         | 60.886   | 495  | 318    | 187   | 215     | 74.523    
